[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=pparker
WorkingDirectory=/home/pparker/sites/DOMAIN
EnvironmentFile=/home/pparker/sites/DOMAIN/.env

ExecStart=/home/pparker/sites/DOMAIN/virtualenv/bin/gunicorn \
  --bind unix:/tmp/DOMAIN.socket \
  superlists.wsgi:application

[Install]
WantedBy=multi-user.target
